@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Cormorant:700|EB+Garamond:500');
@font-face {
    font-family: 'monument';
    src:  url('font/MonumentGroteskTrial-Bold.woff') format('woff2');
  }
body {
    padding: 0;
    margin: 0;
    /* font-family: 'Source Code Pro', monospace; */
    font-family: 'monument';
    font-size: 100%;
}
#spooky-text{
    position: fixed;

    left: 50%;
    top: 50%;
    width: 50%;
    min-width: 300px;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 8vh;
    color: #ccc;
    /* text-shadow: 2px 2px #f00; */
    font-weight: bolder;
    line-height: 1em;
    /* hyphens: auto; */
    word-wrap: break-word;
    text-decoration: underline blue;
}
#p5Sketch{
    position: fixed;
    z-index: -1;
    right: 0px;
    bottom: 0px;
}

#contact{
    position: fixed;
    padding: 0.6em;
    right: 0px;
    bottom: 0px;
    font-style: italic;
    color: #000;
    text-shadow: 2px 2px #2d7;
    line-height: 1em;
}
#contact:hover{
    font-size: 2em;
    /* color: #fff; */
}

#mail:hover{
    font-style: normal;
    letter-spacing: 3px;
    color: #00f;
}

/* custom scrollbars */

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); */
    /* background-color: #fff; */
}

::-webkit-scrollbar {
    width: 5px;
    /* background-color: #fff; */
}

::-webkit-scrollbar-thumb {
    background-color: #00f;
    /* border: 2px solid #555555; */
}