@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Cormorant:700|EB+Garamond:500');
@font-face {
    font-family: 'monument';
    src: url('font/MonumentGroteskTrial-Bold.woff') format('woff2');
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    /* font-family: 'monument'; */
    font-size: 1rem;
}

.container, #spooky-text {
    /* position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); */
}

.outer {
    width: 100%;
    height: 100vh;
}

.center-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.container {
    width: 33%;
    padding: 0.6em;
    /* overflow-y: scroll; */
    /* -webkit-transition: width 2s, -webkit-transform 2s;
    -ms-transition: width 2s, -ms-transform 2s;
    transition: width 2s, transform 2s; */
    word-wrap: break-word;
    font-size: 3vh;
    background-color: rgba(0, 0, 255, 0.404);
    color: #ff0;
    border: solid #00f 5px;
    box-shadow: #aaa 15px 15px;
}

/* .container:hover{
    width: 75%;
} */

.container a {
    color: #0f0;
}

.container a:hover {
    color: #f00;
}

.footer {
    /* background: #0f0; */
    color: #000;
    text-align: center;
}

#mail {
    /* text-shadow: #0f0 -4px -4px; */
    background-color: #fff;
    border: solid 3px #000;
    box-shadow: 3px 3px #00f;
    border-radius: 0px;
}

#mail:hover {
    font-style: normal;
    background-color: #ff0;
    box-shadow: 5px 5px #00f;
    border-radius: 50px;
    /* letter-spacing: 3px; */
    /* text-shadow: #0f0 4px 4px; */
}

.header {
    text-align: center;
    color: #00f;
    background-color: #fff;
    border: solid 3px #000;
    box-shadow: 3px 3px #00f;
    border-radius: 0px;

    font-weight: 900;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;

    font-family: 'EB Garamond', serif;
}

#click-me {
    display: none;
    text-align: center;
    position: fixed;
    word-wrap: break-word;
    width: 350px;
    /* height: 120px; */
    height: auto;
    color: #00f;
    font-weight: bolder;
    text-decoration: underline #fff;
}
#click-me img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

#spooky-text {
    width: 50%;
    min-width: 300px;
    text-align: center;
    font-size: 8vh;
    color: #ccc;
    /* text-shadow: 2px 2px #f00; */
    font-weight: bolder;
    line-height: 1em;
    /* hyphens: auto; */
    word-wrap: break-word;
    /* text-decoration: underline blue; */
}

#p5Sketch {
    position: fixed;
    z-index: -1;
    right: 0px;
    top: 0px;
}

#contact {
    position: fixed;
    padding: 0.6em;
    right: 0px;
    bottom: 0px;
    font-style: italic;
    color: #000;
    text-shadow: 2px 2px #2d7;
    line-height: 1em;
}

#contact:hover {
    font-size: 2em;
    /* color: #fff; */
}

.projects{
    font-size: 0.5rem;
    letter-spacing: 5px;
    color: #ff0;
    text-align: center;
}

/* custom scrollbars */

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); */
    /* background-color: #fff; */
}

::-webkit-scrollbar {
    width: 5px;
    /* background-color: #fff; */
}

::-webkit-scrollbar-thumb {
    background-color: #00f;
    /* border: 2px solid #555555; */
}



.carousel-cell {
    width: 100%;
    height: 95vh;
    margin-right: 10px;
}

.flickity-page-dots {
    display: none;
}

/* no circle */

.flickity-button {
    background: #fff;
    mix-blend-mode: exclusion;
}

/* big previous & next buttons */

.flickity-prev-next-button {
    width: 2rem;
    height: 2rem;
    top: 95vh;
}

.flickity-prev-next-button.previous:before {
    left: 20px;
  }
  .flickity-prev-next-button.next:after {
    right: 20px;
  }

@media only screen and (max-device-width: 900px) {
    html {
        font-size: 75%;
    }
    .container {
        width: 85%;
    }
}